{{ define "content" }}
<div data-elementor-type="wp-page" data-elementor-id="8" class="elementor elementor-8">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-b1348f elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="b1348f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-df8e9b" data-id="df8e9b" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-25f32e38 elementor-widget elementor-widget-elementskit-heading" data-id="25f32e38" data-element_type="widget" data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div class="ekit-heading elementskit-section-title-wraper text_center ekit_heading_tablet- ekit_heading_mobile-">
                                    <h2 class="ekit-heading--title elementskit-section-title">About us</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-785e2e08 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="785e2e08" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7c252e14" data-id="7c252e14" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-7a1a7927 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7a1a7927" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1f82f9ad" data-id="1f82f9ad" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-4383af74 elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-elementskit-heading" data-id="4383af74" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet-text_center ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section">Our Story</h2>
                                                    <div class="ekit-heading__description">
                                                        <p>Assalamu Alaikum wa Rahmatullahi wa Barakatuhu.</p>
                                                        <p>The establishment of Baldebpur Madrashah is rooted in a profound mission to uplift the Millat in Beradaran. Our primary goal is to address the growing ignorance and lack of religious practice in our community. We aim to bring people closer to their faith and instill a sense of hard work and dedication towards religion.</p>
                                                        <p>In the area where our madrasa is located, there has been a noticeable decline in daily religious practices and hard work. This has led to an increase in ignorance and a detachment from the core values of our faith. To combat this, we have taken it upon ourselves to work tirelessly in the villages, ensuring that people become more religious and dedicated to their faith.</p>
                                                        <p>To achieve our mission, we have established several initiatives aimed at providing religious education and support to the community:</p>
                                                        <ul>
                                                            <li><strong>Establishing Maktabs:</strong> We have set up Maktabs in various villages to ensure that religious education is accessible to everyone. These Maktabs serve as centers for learning and practicing the teachings of Islam.</li>
                                                            <li><strong>Community Assistance:</strong> We provide various types of assistance to help the people of rural areas and districts become more religious and hardworking. This includes:
                                                                <ul>
                                                                    <li><strong>Iftar Arrangements:</strong> During Ramadan, we arrange iftar meals for the community.</li>
                                                                    <li><strong>Qurbani Support:</strong> We assist with the sacrifice during Qurbani, ensuring that everyone can participate in this important religious practice.</li>
                                                                    <li><strong>Helping the Needy:</strong> We provide support to the needy and the poor, helping them with their daily needs and ensuring they are not left behind.</li>
                                                                </ul>
                                                            </li>
                                                            <li><strong>Marriage Assistance:</strong> We help poor families with their daughters' marriages, ensuring that financial constraints do not hinder this important milestone.</li>
                                                            <li><strong>Supporting Talented Students:</strong> We provide support to talented students, helping them achieve their educational goals and become future leaders of our community.</li>
                                                            <li><strong>Daily Necessities:</strong> We provide daily necessities such as vans, rickshaws, sewing machines, and water pipes in poor areas. We also distribute rice and other essential items to ensure that no one goes hungry.</li>
                                                        </ul>
                                                        <p>Our vision is to create a community where everyone is knowledgeable about their faith and dedicated to practicing it daily. We believe that through education and support, we can uplift the entire community and bring them closer to their religious roots.</p>
                                                        <p>We invite you to join us in our mission to uplift the community and bring people closer to their faith. Together, we can make a difference and create a better future for everyone.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-61ee7fff" data-id="61ee7fff" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-6b96c9c9 elementor-hidden-tablet elementor-hidden-phone elementor-widget__width-inherit elementor-widget elementor-widget-image" data-id="6b96c9c9" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <style>
                                                /*! elementor - v3.16.0 - 17-10-2023 */
                                                .elementor-widget-image {
                                                    text-align: center
                                                }
    
                                                .elementor-widget-image a {
                                                    display: inline-block
                                                }
    
                                                .elementor-widget-image a img[src$=".svg"] {
                                                    width: 48px
                                                }
    
                                                .elementor-widget-image img {
                                                    vertical-align: middle;
                                                    display: inline-block
                                                }
                                            </style>
                                            <img fetchpriority="high" decoding="async" width="1280" height="787" src="/static/img/students.jpg" class="attachment-full size-full wp-image-201" alt="" style="width:100%;height:61.48%;max-width:1280px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Urdu Section -->
    <section class="elementor-section elementor-top-section elementor-element elementor-element-b1348f elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="b1348f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-df8e9b" data-id="df8e9b" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-25f32e38 elementor-widget elementor-widget-elementskit-heading" data-id="25f32e38" data-element_type="widget" data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div class="ekit-heading elementskit-section-title-wraper text_center ekit_heading_tablet- ekit_heading_mobile-">
                                    <h2 class="ekit-heading--title elementskit-section-title">ہمارے بارے میں</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-785e2e08 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="785e2e08" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7c252e14" data-id="7c252e14" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-7a1a7927 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7a1a7927" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1f82f9ad" data-id="1f82f9ad" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-4383af74 elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-elementskit-heading" data-id="4383af74" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left ekit_heading_tablet-text_center ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section">ہماری کہانی</h2>
                                                    <div class="ekit-heading__description">
                                                        <p>السلام علیکم ورحمۃ اللہ وبرکاتہ۔</p>
                                                        <p>بلدیپ پور مدرسہ کا قیام ایک گہری مشن پر مبنی ہے جس کا مقصد براداران میں ملت کو بلند کرنا ہے۔ ہمارا بنیادی مقصد ہماری کمیونٹی میں بڑھتی ہوئی جہالت اور مذہبی عمل کی کمی کو دور کرنا ہے۔ ہم لوگوں کو ان کے ایمان کے قریب لانے اور مذہب کی طرف محنت اور لگن کا احساس دلانے کا ارادہ رکھتے ہیں۔</p>
                                                        <p>جس علاقے میں ہمارا مدرسہ واقع ہے، وہاں روزانہ کے مذہبی اعمال اور محنت میں نمایاں کمی آئی ہے۔ اس سے جہالت میں اضافہ ہوا ہے اور ہمارے ایمان کی بنیادی اقدار سے دوری پیدا ہوئی ہے۔ اس کا مقابلہ کرنے کے لئے، ہم نے دیہاتوں میں محنت کرنے کا عزم کیا ہے، تاکہ لوگ زیادہ مذہبی اور اپنے ایمان کے لئے وقف ہو جائیں۔</p>
                                                        <p>اپنے مشن کو حاصل کرنے کے لئے، ہم نے کمیونٹی کو مذہبی تعلیم اور حمایت فراہم کرنے کے لئے کئی اقدامات قائم کیے ہیں:</p>
                                                        <ul>
                                                            <li><strong>مکتب قائم کرنا:</strong> ہم نے مختلف دیہاتوں میں مکتب قائم کیے ہیں تاکہ مذہبی تعلیم ہر کسی کے لئے قابل رسائی ہو۔ یہ مکتب اسلام کی تعلیمات کو سیکھنے اور عمل کرنے کے مراکز کے طور پر کام کرتے ہیں۔</li>
                                                            <li><strong>کمیونٹی کی مدد:</strong> ہم دیہی علاقوں اور اضلاع کے لوگوں کو زیادہ مذہبی اور محنتی بنانے کے لئے مختلف قسم کی مدد فراہم کرتے ہیں۔ اس میں شامل ہیں:
                                                                <ul>
                                                                    <li><strong>افطار کا انتظام:</strong> رمضان کے دوران، ہم کمیونٹی کے لئے افطار کا انتظام کرتے ہیں۔</li>
                                                                    <li><strong>قربانی کی مدد:</strong> ہم قربانی کے دوران مدد فراہم کرتے ہیں، تاکہ ہر کوئی اس اہم مذہبی عمل میں حصہ لے سکے۔</li>
                                                                    <li><strong>ضرورت مندوں کی مدد:</strong> ہم ضرورت مندوں اور غریبوں کی مدد کرتے ہیں، ان کی روزمرہ کی ضروریات میں مدد کرتے ہیں اور اس بات کو یقینی بناتے ہیں کہ کوئی پیچھے نہ رہ جائے۔</li>
                                                                </ul>
                                                            </li>
                                                            <li><strong>شادی کی مدد:</strong> ہم غریب خاندانوں کی بیٹیوں کی شادی میں مدد کرتے ہیں، تاکہ مالی مشکلات اس اہم مرحلے میں رکاوٹ نہ بنیں۔</li>
                                                            <li><strong>ہونہار طلباء کی مدد:</strong> ہم ہونہار طلباء کی مدد کرتے ہیں، تاکہ وہ اپنی تعلیمی مقاصد کو حاصل کر سکیں اور ہماری کمیونٹی کے مستقبل کے رہنما بن سکیں۔</li>
                                                            <li><strong>روزمرہ کی ضروریات:</strong> ہم غریب علاقوں میں وین، رکشے، سلائی مشینیں، اور پانی کی پائپیں فراہم کرتے ہیں۔ ہم چاول اور دیگر ضروری اشیاء بھی تقسیم کرتے ہیں تاکہ کوئی بھوکا نہ رہے۔</li>
                                                        </ul>
                                                        <p>ہمارا وژن ایک ایسی کمیونٹی بنانا ہے جہاں ہر کوئی اپنے ایمان کے بارے میں جانتا ہو اور روزانہ اس پر عمل کرنے کے لئے وقف ہو۔ ہم یقین رکھتے ہیں کہ تعلیم اور حمایت کے ذریعے، ہم پوری کمیونٹی کو بلند کر سکتے ہیں اور انہیں ان کے مذہبی جڑوں کے قریب لا سکتے ہیں۔</p>
                                                        <p>ہم آپ کو دعوت دیتے ہیں کہ ہمارے مشن میں شامل ہوں اور کمیونٹی کو بلند کریں اور لوگوں کو ان کے ایمان کے قریب لائیں۔ مل کر، ہم فرق پیدا کر سکتے ہیں اور سب کے لئے ایک بہتر مستقبل بنا سکتے ہیں۔</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-61ee7fff" data-id="61ee7fff" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-6b96c9c9 elementor-hidden-tablet elementor-hidden-phone elementor-widget__width-inherit elementor-widget elementor-widget-image" data-id="6b96c9c9" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <style>
                                                /*! elementor - v3.16.0 - 17-10-2023 */
                                                .elementor-widget-image {
                                                    text-align: center
                                                }
    
                                                .elementor-widget-image a {
                                                    display: inline-block
                                                }
    
                                                .elementor-widget-image a img[src$=".svg"] {
                                                    width: 48px
                                                }
    
                                                .elementor-widget-image img {
                                                    vertical-align: middle;
                                                    display: inline-block
                                                }
                                            </style>
                                            <img fetchpriority="high" decoding="async" width="1280" height="787" src="/static/img/students.jpg" class="attachment-full size-full wp-image-201" alt="" style="width:100%;height:61.48%;max-width:1280px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-2d8328e6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="2d8328e6" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-55dbd813"
        data-id="55dbd813" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-6fa3d137 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="6fa3d137" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2f8710c2"
                data-id="2f8710c2" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-7a9052d0 elementor-widget elementor-widget-elementskit-heading"
                    data-id="7a9052d0" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div
                          class="ekit-heading elementskit-section-title-wraper center   ekit_heading_tablet-   ekit_heading_mobile-">
                          <h3 class="elementskit-section  ">
                            Team Members
                          </h3>
                          <!-- <h2 class="ekit-heading--title elementskit-section-title ">Creative Team</h2> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                  class="ekit-heading elementskit-section-title-wraper center   ekit_heading_tablet-   ekit_heading_mobile-">
                  <h2 class="ekit-heading--title elementskit-section-title custom-h2 ">Our team </h2>
                </div>
                  </div>
              </div>
            </div>
          </section>
          <style>
              .custom-h2{
                font-size: 22px;
              }
          </style>
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-23bd47bd elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="23bd47bd" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-58b532d5"
                data-id="58b532d5" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-31e995ff elementor-widget elementor-widget-elementskit-team"
                    data-id="31e995ff" data-element_type="widget" data-widget_type="elementskit-team.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div class=" image-card-v3">
                          <div
                            class="profile-image-card elementor-animation- ekit-team-img ekit-team-style-long_height_hover text-center">

                            <img decoding="async" width="900" height="900"
                              src="/static/img/teachers/Md-Ilias-Gazi.jpg"
                              class="attachment-full size-full wp-image-263" alt=""
                              style="width:100%;height:100%;max-width:900px">
                            <div class="hover-area">
                              <div class="profile-body">
                                <h2 class="profile-title">
                                  Md Ilias Gazi </h2>
                                <p class="profile-designation">Secretary & Teacher</p>
                                <p class="profile-designation">Moulana Farek, Kasheful Uloom Madrashah(Delhi Markaz)</p>
                              </div>
                              <div class="profile-footer">
                                <ul class="ekit-team-social-list">
                                  <li class="elementor-repeater-item-9de5068">
                                    <a href="https://facebook.com/" aria-label="Facebook">
                                      <i aria-hidden="true" class="fasicon icon-facebook"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-652473e">
                                    <a href="https://twitter.com/" aria-label="Twitter">
                                      <i aria-hidden="true" class="fab fa-twitter"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-5503082">
                                    <a href="https://googleplus.com/" aria-label="Google Plus">
                                      <i aria-hidden="true" class="icon icon-google-plus"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-f5b51d5">
                                    <a href="https://facebook.com/" aria-label="Facebook">
                                      <i aria-hidden="true" class="fab fa-linkedin-in"></i> </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-71f53b53"
                data-id="71f53b53" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-1c52c7a7 elementor-widget elementor-widget-elementskit-team"
                    data-id="1c52c7a7" data-element_type="widget" data-widget_type="elementskit-team.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div class=" image-card-v3">
                          <div
                            class="profile-image-card elementor-animation- ekit-team-img ekit-team-style-long_height_hover text-center">

                            <img decoding="async" width="933" height="933"
                              src="/static/img/teachers/Md-Sanaullah-Gazi.jpg"
                              class="attachment-full size-full wp-image-265" alt=""
                              style="width:100%;height:100%;max-width:933px">
                            <div class="hover-area">
                              <div class="profile-body">
                                <h2 class="profile-title">
                                  Md Sanaullah Gazi </h2>
                                <p class="profile-designation">Asst. Secretary, Teacher</p>
                                <p class="profile-designation">Hafiz & Kaari, Lucknow</p>
                              </div>
                              <div class="profile-footer">
                                <ul class="ekit-team-social-list">
                                  <li class="elementor-repeater-item-9de5068">
                                    <a href="https://facebook.com/" aria-label="Facebook">
                                      <i aria-hidden="true" class="fasicon icon-facebook"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-652473e">
                                    <a href="https://twitter.com/" aria-label="Twitter">
                                      <i aria-hidden="true" class="fab fa-twitter"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-5503082">
                                    <a href="https://googleplus.com/" aria-label="Google Plus">
                                      <i aria-hidden="true" class="icon icon-google-plus"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-f5b51d5">
                                    <a href="https://facebook.com/" aria-label="Facebook">
                                      <i aria-hidden="true" class="fab fa-linkedin-in"></i> </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5bfd175a"
                data-id="5bfd175a" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-765f3bcd elementor-widget elementor-widget-elementskit-team"
                    data-id="765f3bcd" data-element_type="widget" data-widget_type="elementskit-team.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div class=" image-card-v3">
                          <div
                            class="profile-image-card elementor-animation- ekit-team-img ekit-team-style-long_height_hover text-center">

                            <img loading="lazy" decoding="async" width="360" height="360"
                              src="/static/img/teachers/Md-Siddikullah-Gazi.jpg"
                              class="attachment-full size-full wp-image-264" alt=""
                              style="width:100%;height:100%;max-width:360px">
                            <div class="hover-area">
                              <div class="profile-body">
                                <h2 class="profile-title">
                                  Md Siddikullah Gazi </h2>
                                <p class="profile-designation">Teacher</p>
                                <p class="profile-designation">Hafiz & Kaari, Lucknow</p>
                              </div>
                              <div class="profile-footer">
                                <ul class="ekit-team-social-list">
                                  <li class="elementor-repeater-item-9de5068">
                                    <a href="https://facebook.com/" aria-label="Facebook">
                                      <i aria-hidden="true" class="fasicon icon-facebook"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-652473e">
                                    <a href="https://twitter.com/" aria-label="Twitter">
                                      <i aria-hidden="true" class="fab fa-twitter"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-5503082">
                                    <a href="https://googleplus.com/" aria-label="Google Plus">
                                      <i aria-hidden="true" class="icon icon-google-plus"></i> </a>
                                  </li>
                                  <li class="elementor-repeater-item-f5b51d5">
                                    <a href="https://facebook.com/" aria-label="Facebook">
                                      <i aria-hidden="true" class="fab fa-linkedin-in"></i> </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}