{{ define "content" }}
<article id="post-220"
	class="post-220 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized entry">

	<header class="entry-header alignwide">
		<h1 class="entry-title">BMKU is a Madrasha (Islamic educational institution)</h1>

		<figure class="post-thumbnail">
			<img width="1280" height="853" src="/static/content/uploads/2023/11/51caa7df-067d-4812-baeb-6de7d82e850a.jpeg"
				class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async"
				fetchpriority="high" style="width:100%;height:66.64%;max-width:1280px;">
		</figure>

	</header>

	<div class="entry-content">

		<p>located in the South 24 Parganas district, and they are engaged in various activities.located in the South 24 Parganas district, and they are engaged in various activities.located in the South 24 Parganas district, and they are engaged in various activities.located in the South 24 Parganas district, and they are engaged in various activities.</p>
	</div>


	<footer class="entry-footer default-max-width">
		<div class="posted-by">
			<span class="posted-on">Published <time class="entry-date published updated"
					datetime="2023-11-03T18:34:20+00:00">November 3, 2023</time></span><span class="byline">By <a
					href="/donation" rel="author">donation</a></span>
		</div>
		<div class="post-taxonomies"><span class="cat-links">Categorized as <a
					href="/category" rel="category tag">Uncategorized</a> </span></div>
	</footer>


</article>

<div id="comments" class="comments-area default-max-width show-avatars">


	<div id="respond" class="comment-respond">
		<h2 id="reply-title" class="comment-reply-title">Leave a comment
		</h2>
		<p>We'd love to hear from you. Send your comments to <a href="mailto:contact@islamteachhelp.org?subject=Comment%20on%20BMKU%20is%20a%20Madrasha%20%28Islamic%20educational%20institution%29">contact@islamteachhelp.org</a>.</p>
	</div>


</div>


<nav class="navigation post-navigation" aria-label="Posts">
	<h2 class="screen-reader-text">Post navigation</h2>
	<div class="nav-links">
		<div class="nav-next"><a href="/south-24-parganas-district"
				rel="next">
				<p class="meta-nav">Next post<svg class="svg-icon" width="24" height="24" aria-hidden="true" role="img"
						focusable="false" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="m4 13v-2h12l-4-4 1-2 7 7-7 7-1-2 4-4z"
							fill="currentColor"></path>
					</svg></p>
				<p class="post-title">South 24 Parganas district</p>
			</a></div>
	</div>
</nav>
{{ end }}
