{{ define "content" }}
<div data-elementor-type="wp-page" data-elementor-id="16" class="elementor elementor-16">
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-96cc949 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
    data-id="96cc949" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bf84503"
        data-id="bf84503" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-9d84956 elementor-widget elementor-widget-elementskit-heading"
            data-id="9d84956" data-element_type="widget" data-widget_type="elementskit-heading.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con">
                <div
                  class="ekit-heading elementskit-section-title-wraper text_center ekit_heading_tablet- ekit_heading_mobile-">
                  <h2 class="ekit-heading--title elementskit-section-title ">{{ index .Title "en" }}</h2>
                  <h2 class="ekit-heading--title elementskit-section-title ">{{ index .Title "ur" }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="elementor-section elementor-top-section elementor-element elementor-element-76782c0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="76782c0" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-09c911b"
        data-id="09c911b" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section class="elementor-section elementor-inner-section elementor-element elementor-element-56a8465 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="56a8465" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-b42f09b"
                data-id="b42f09b" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-37d6419 elementor-widget elementor-widget-heading"
                    data-id="37d6419" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">We're Ready, Let's Talk.</h2>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-5e86db5 elementor-widget elementor-widget-heading"
                    data-id="5e86db5" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">Contact Info</h2>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-b5e0773 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                    data-id="b5e0773" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-content">
                          <h5 class="elementor-icon-box-title">
                            <span>Address</span>
                          </h5>
                          <p class="elementor-icon-box-description">
                            {{ index .Address "en" }}<br>
                            {{ index .Address "ur" }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-50637d7 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                    data-id="50637d7" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-content">
                          <h5 class="elementor-icon-box-title">
                            <span>Email Us</span>
                          </h5>
                          <p class="elementor-icon-box-description">
                            <a href="mailto:{{ .PrimaryEmail }}">{{ .PrimaryEmail }}</a><br>
                            <a href="mailto:{{ .SecondaryEmail }}">{{ .SecondaryEmail }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-6d531d1 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                    data-id="6d531d1" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-icon-box-wrapper">
                        <div class="elementor-icon-box-content">
                          <h5 class="elementor-icon-box-title">
                            <span>Call Us</span>
                          </h5>
                          <p class="elementor-icon-box-description">
                            <a href="tel:{{ .Phone }}">{{ .Phone }}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-8394657 elementor-widget elementor-widget-heading"
                    data-id="8394657" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <h5 class="elementor-heading-title elementor-size-default">Follow Us</h5>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-d12cf67 elementor-shape-circle e-grid-align-left e-grid-align-mobile-left elementor-grid-mobile-3 elementor-grid-0 elementor-widget elementor-widget-social-icons"
                    data-id="d12cf67" data-element_type="widget" data-widget_type="social-icons.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-social-icons-wrapper elementor-grid">
                        <span class="elementor-grid-item">
                          <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-57fe014"
                            href="{{ .FacebookURL }}">
                            <span class="elementor-screen-only">Facebook-f</span>
                            <i class="fab fa-facebook-f"></i> </a>
                        </span>
                        <span class="elementor-grid-item">
                          <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-0ec3dce"
                            href="{{ .TwitterURL }}">
                            <span class="elementor-screen-only">Twitter</span>
                            <i class="fab fa-twitter"></i> </a>
                        </span>
                        <span class="elementor-grid-item">
                          <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-5e4a996"
                            href="{{ .YouTubeURL }}">
                            <span class="elementor-screen-only">Youtube</span>
                            <i class="fab fa-youtube"></i> </a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-37d6419 elementor-widget elementor-widget-heading"
                    data-id="37d6419" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">About Us</h2>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-5e86db5 elementor-widget elementor-widget-heading"
                    data-id="5e86db5" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                      <p class="elementor-heading-title elementor-size-default">
                        Welcome to our contact page. We are dedicated to providing the best service possible and are here to assist you with any inquiries you may have. Our team is committed to ensuring that you have a seamless experience with us. Whether you have questions about our services, need support, or just want to give feedback, we are here to listen and help. Feel free to reach out to us through any of the contact methods listed above. We look forward to hearing from you and assisting you in any way we can.
                      </p>
                      <p class="elementor-heading-title elementor-size-default">
                        Our office is located at {{ index .Address "en" }}. You can contact us via email at <a href="mailto:{{ .PrimaryEmail }}">{{ .PrimaryEmail }}</a> or <a href="mailto:{{ .SecondaryEmail }}">{{ .SecondaryEmail }}</a> or call us at <a href="tel:{{ .Phone }}">{{ .Phone }}</a>. We are available Monday to Friday from 9 AM to 6 PM. Follow us on our social media channels to stay updated with our latest news and updates. Thank you for choosing our services. We value your feedback and are always looking for ways to improve. Your satisfaction is our top priority.
                      </p>
                      <p class="elementor-heading-title elementor-size-default">
                        If you have any specific questions or need detailed information, please do not hesitate to contact us. Our team of experts is always ready to provide you with the information you need. We believe in building strong relationships with our clients and are committed to providing you with the best possible service. Thank you for visiting our contact page. We look forward to serving you.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}