{{ define "content" }}
<div data-elementor-type="wp-page" data-elementor-id="14" class="elementor elementor-14">
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-bdd7f88 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
    data-id="bdd7f88" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-48e5fea"
        data-id="48e5fea" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-ca18da7 elementor-widget elementor-widget-elementskit-heading"
            data-id="ca18da7" data-element_type="widget" data-widget_type="elementskit-heading.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con">
                <div
                  class="ekit-heading elementskit-section-title-wraper text_center   ekit_heading_tablet-   ekit_heading_mobile-">
                  <h2 class="ekit-heading--title elementskit-section-title ">Gallery</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    /* Flexbox for gallery layout */
#gallery-1 {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
  justify-content: space-evenly; 
}

.gallery-item {
  flex: 1 1 calc(33.333% - 16px); 
  max-width: calc(33.333% - 16px);
  box-sizing: border-box; 
}

.gallery-icon img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}


/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .gallery-item {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex: 1 1 100%; 
  }
}
           

  </style>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-42e3a00 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="42e3a00" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c1b56e1"
        data-id="c1b56e1" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-3843717 gallery-spacing-custom elementor-widget elementor-widget-image-gallery"
            data-id="3843717" data-element_type="widget" data-widget_type="image-gallery.default">
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.16.0 - 17-10-2023 */
                .elementor-image-gallery .gallery-item {
                  display: inline-block;
                  text-align: center;
                  vertical-align: top;
                  width: 100%;
                  max-width: 100%;
                  margin: 0 auto
                }

                .elementor-image-gallery .gallery-item img {
                  margin: 0 auto
                }

                .elementor-image-gallery .gallery-item .gallery-caption {
                  margin: 0
                }

                .elementor-image-gallery figure img {
                  display: block
                }

                .elementor-image-gallery figure figcaption {
                  width: 100%
                }

                .gallery-spacing-custom .elementor-image-gallery .gallery-icon {
                  padding: 0
                }

                @media (min-width:768px) {
                  .elementor-image-gallery .gallery-columns-2 .gallery-item {
                    max-width: 50%
                  }

                  .elementor-image-gallery .gallery-columns-3 .gallery-item {
                    max-width: 33.33%
                  }

                  .elementor-image-gallery .gallery-columns-4 .gallery-item {
                    max-width: 25%
                  }

                  .elementor-image-gallery .gallery-columns-5 .gallery-item {
                    max-width: 20%
                  }

                  .elementor-image-gallery .gallery-columns-6 .gallery-item {
                    max-width: 16.666%
                  }

                  .elementor-image-gallery .gallery-columns-7 .gallery-item {
                    max-width: 14.28%
                  }

                  .elementor-image-gallery .gallery-columns-8 .gallery-item {
                    max-width: 12.5%
                  }

                  .elementor-image-gallery .gallery-columns-9 .gallery-item {
                    max-width: 11.11%
                  }

                  .elementor-image-gallery .gallery-columns-10 .gallery-item {
                    max-width: 10%
                  }
                }

                @media (min-width:480px) and (max-width:767px) {

                  .elementor-image-gallery .gallery.gallery-columns-2 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-3 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-4 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-5 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-6 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-7 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-8 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-9 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-10 .gallery-item {
                    max-width: 50%
                  }
                }

                @media (max-width:479px) {

                  .elementor-image-gallery .gallery.gallery-columns-2 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-3 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-4 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-5 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-6 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-7 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-8 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-9 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-10 .gallery-item {
                    max-width: 100%
                  }
                }
              </style>
              <div class="elementor-image-gallery">
                <div id="gallery-1" class="gallery galleryid-14 gallery-columns-3 gallery-size-full">
                  <figure class="gallery-item">
                    <div class="gallery-icon portrait">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="3843717"
                        data-elementor-lightbox-title="photo_6188359506698812047_y"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTk2LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ3X3kuanBnIiwic2xpZGVzaG93IjoiMzg0MzcxNyJ9"
                        href="/static/content/uploads/2023/11/photo_6188359506698812047_y.jpg"><img fetchpriority="high"
                          decoding="async" width="960" height="1280"
                          src="/static/content/uploads/2023/11/photo_6188359506698812047_y.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:133.33%;max-width:960px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon portrait">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="3843717"
                        data-elementor-lightbox-title="photo_6188359506698812049_y (1)"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTk5LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ5X3ktMS5qcGciLCJzbGlkZXNob3ciOiIzODQzNzE3In0%3D"
                        href="/static/content/uploads/2023/11/photo_6188359506698812049_y-1.jpg"><img decoding="async"
                          width="958" height="1280" src="/static/content/uploads/2023/11/photo_6188359506698812049_y-1.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:133.61%;max-width:958px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon portrait">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="3843717"
                        data-elementor-lightbox-title="photo_6188359506698812048_y (1)"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTk3LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ4X3ktMS5qcGciLCJzbGlkZXNob3ciOiIzODQzNzE3In0%3D"
                        href="/static/content/uploads/2023/11/photo_6188359506698812048_y-1.jpg"><img decoding="async"
                          width="1024" height="1280"
                          src="/static/content/uploads/2023/11/photo_6188359506698812048_y-1.jpg"
                          class="attachment-full size-full" alt="" style="width:100%;height:125%;max-width:1024px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon landscape">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="3843717"
                        data-elementor-lightbox-title="photo_6188359506698812050_y (1)"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjAxLCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDUwX3ktMS5qcGciLCJzbGlkZXNob3ciOiIzODQzNzE3In0%3D"
                        href="/static/content/uploads/2023/11/photo_6188359506698812050_y-1.jpg"><img loading="lazy"
                          decoding="async" width="1280" height="787"
                          src="/static/content/uploads/2023/11/photo_6188359506698812050_y-1.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:61.48%;max-width:1280px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon landscape">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="3843717"
                        data-elementor-lightbox-title="photo_6188359506698812051_y"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjA2LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDUxX3kuanBnIiwic2xpZGVzaG93IjoiMzg0MzcxNyJ9"
                        href="/static/content/uploads/2023/11/photo_6188359506698812051_y.jpg"><img loading="lazy"
                          decoding="async" width="1280" height="834"
                          src="/static/content/uploads/2023/11/photo_6188359506698812051_y.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:65.16%;max-width:1280px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon landscape">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="3843717"
                        data-elementor-lightbox-title="photo_6188359506698812044_y"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjA4LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ0X3kuanBnIiwic2xpZGVzaG93IjoiMzg0MzcxNyJ9"
                        href="/static/content/uploads/2023/11/photo_6188359506698812044_y.jpg"><img loading="lazy"
                          decoding="async" width="1280" height="853"
                          src="/static/content/uploads/2023/11/photo_6188359506698812044_y.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:66.64%;max-width:1280px;"></a>
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}