{{ define "content" }}
<div data-elementor-type="wp-page" data-elementor-id="6" class="elementor elementor-6">
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-ff4c770 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="ff4c770" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1e069f01"
        data-id="1e069f01" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-7774af8d elementor-widget elementor-widget-elementskit-heading"
            data-id="7774af8d" data-element_type="widget" data-widget_type="elementskit-heading.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con">
                <div
                  class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">

                  <h2 class="ekit-heading--title elementskit-section-title ">BALADEVPUR MADRASSA KASHEAFUL ULOOM</h2>
                  <div class="ekit-heading__description">
                    <p>BMKU is a Madrasha (Islamic educational institution) located in the South 24 Parganas district,
                      and they are engaged in various activities.</p>
                      <p>بی ایم کے یو ایک مدرسہ (اسلامی تعلیمی ادارہ) ہے جو جنوبی 24 پرگناز ضلع میں واقع ہے، اور وہ مختلف سرگرمیوں میں مصروف ہیں۔</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="elementor-element elementor-element-774f595e elementor-widget elementor-widget-elementskit-button"
            data-id="774f595e" data-element_type="widget" data-widget_type="elementskit-button.default">
            <div class="elementor-widget-container">
              <div class="ekit-wid-con">
                <div class="ekit-btn-wraper">
                  <a href="/donation" class="elementskit-btn  whitespace--normal">


                    DONATE NOW </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7dfcb230"
        data-id="7dfcb230" data-element_type="column">
        <div class="elementor-widget-wrap">
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-14cac8ce elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="14cac8ce" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1daf893e"
        data-id="1daf893e" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-83d7760 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="83d7760" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-23a2e74"
                data-id="23a2e74" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-742389aa ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="742389aa" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>Giving sacrificial animals to the villages of the poor at the time of Qurbani</p>
                            <p>قربانی کے وقت غریبوں کے دیہاتوں میں قربانی کے جانور دینا</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-7ea7e2ae ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="7ea7e2ae" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>To help those who cannot marry their daughters</p>
                            <p>ان لوگوں کی مدد کرنا جو اپنی بیٹیوں کی شادی نہیں کر سکتے</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-692e8d5 ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="692e8d5" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>Issuance of qarje hasana for business</p>
                            <p>کاروبار کے لیے قرض حسنہ کا اجرا</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6f11a967"
                data-id="6f11a967" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-51d36714 ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="51d36714" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>Distributing Iftar among the poor during Fasting</p>
                            <p>روزے کے دوران غریبوں میں افطار تقسیم کرنا</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-57f3dd8a ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="57f3dd8a" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>Widows should not beg, so we buy them sewing machines and goats</p>
                            <p>بیواؤں کو بھیک مانگنے کی ضرورت نہ ہو، اس لیے ہم انہیں سلائی مشینیں اور بکریاں خرید کر دیتے ہیں</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-d9d81bb ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="d9d81bb" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>Buying education materials for poor children</p>
                            <p>غریب بچوں کے لیے تعلیمی مواد خریدنا</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-15fbfcf5"
                data-id="15fbfcf5" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-5dd95ebb ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="5dd95ebb" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>Buying vans for poor families</p>
                            <p>غریب خاندانوں کے لیے وین خریدنا</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-3fc96f4d ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box"
                    data-id="3fc96f4d" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">


                        <div
                          class="elementskit-infobox text- text-left icon-lef-right-aligin elementor-animation- media  ">
                          <div class="elementskit-box-header elementor-animation-">
                            <div class="elementskit-info-box-icon  text-center">
                              <i aria-hidden="true" class="elementkit-infobox-icon icon icon-arrow-right"></i>
                            </div>
                          </div>
                          <div class="box-body">
                            <p>Together the marriages of poor people's daughters are arranged and then their expenses
                              are borne</p>
                              <p>غریب لوگوں کی بیٹیوں کی شادیاں مل کر کروائی جاتی ہیں اور پھر ان کے اخراجات برداشت کیے جاتے ہیں</p>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-5be04000 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="5be04000" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-28d7ed40"
        data-id="28d7ed40" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-167a1995 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="167a1995" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-14b89969"
                data-id="14b89969" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-2ac8cc31 elementor-widget elementor-widget-elementskit-heading"
                    data-id="2ac8cc31" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div
                          class="ekit-heading elementskit-section-title-wraper center   ekit_heading_tablet-   ekit_heading_mobile-">
                          <h2 class="ekit-heading--title elementskit-section-title ">Come as you are</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="elementor-element elementor-element-2739457 elementor-widget elementor-widget-text-editor"
            data-id="2739457" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.16.0 - 17-10-2023 */
                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                  background-color: #69727d;
                  color: #fff
                }

                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                  color: #69727d;
                  border: 3px solid;
                  background-color: transparent
                }

                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                  margin-top: 8px
                }

                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                  width: 1em;
                  height: 1em
                }

                .elementor-widget-text-editor .elementor-drop-cap {
                  float: left;
                  text-align: center;
                  line-height: 1;
                  font-size: 50px
                }

                .elementor-widget-text-editor .elementor-drop-cap-letter {
                  display: inline-block
                }
              </style>
              <p style="text-align: center;">Mulk wa Beron-e-Mulk Hifz-o-Nazra k hazaron Madaris banam
                “Madrasa-tul-Madina” (Boys, Girls, Short
                Time, Rehaishi) qaim hain. Dawat-e-Islami k Madrasa-tul-Madina se abtak majmoi taur per lakhon Bachay
                aur Bachiyan Quran-e-Kareem Hifz karne ki saadat pa chuke hain jabkay Nazra mukammal karne walon ki
                tadad bhi lakhon mey hai.</p>
                <p style="text-align: center;">ملک و بیرون ملک حفظ و ناظرہ کے ہزاروں مدارس بنام
                  "مدرسہ المدینہ" (لڑکے، لڑکیاں، مختصر وقت، رہائشی) قائم ہیں۔ دعوت اسلامی کے مدرسہ المدینہ سے اب تک مجموعی طور پر لاکھوں بچے
                  اور بچیاں قرآن کریم حفظ کرنے کی سعادت پا چکے ہیں جبکہ ناظرہ مکمل کرنے والوں کی
                  تعداد بھی لاکھوں میں ہے۔</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-195f844d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="195f844d" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5ee6f833"
        data-id="5ee6f833" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-51a078b gallery-spacing-custom elementor-widget elementor-widget-image-gallery"
            data-id="51a078b" data-element_type="widget" data-widget_type="image-gallery.default">
            <div class="elementor-widget-container">
              <style>
                /*! elementor - v3.16.0 - 17-10-2023 */
                .elementor-image-gallery .gallery-item {
                  display: inline-block;
                  text-align: center;
                  vertical-align: top;
                  width: 100%;
                  max-width: 100%;
                  margin: 0 auto
                }

                .elementor-image-gallery .gallery-item img {
                  margin: 0 auto
                }

                .elementor-image-gallery .gallery-item .gallery-caption {
                  margin: 0
                }

                .elementor-image-gallery figure img {
                  display: block
                }

                .elementor-image-gallery figure figcaption {
                  width: 100%
                }

                .gallery-spacing-custom .elementor-image-gallery .gallery-icon {
                  padding: 0
                }

                @media (min-width:768px) {
                  .elementor-image-gallery .gallery-columns-2 .gallery-item {
                    max-width: 50%
                  }

                  .elementor-image-gallery .gallery-columns-3 .gallery-item {
                    max-width: 33.33%
                  }

                  .elementor-image-gallery .gallery-columns-4 .gallery-item {
                    max-width: 25%
                  }

                  .elementor-image-gallery .gallery-columns-5 .gallery-item {
                    max-width: 20%
                  }

                  .elementor-image-gallery .gallery-columns-6 .gallery-item {
                    max-width: 16.666%
                  }

                  .elementor-image-gallery .gallery-columns-7 .gallery-item {
                    max-width: 14.28%
                  }

                  .elementor-image-gallery .gallery-columns-8 .gallery-item {
                    max-width: 12.5%
                  }

                  .elementor-image-gallery .gallery-columns-9 .gallery-item {
                    max-width: 11.11%
                  }

                  .elementor-image-gallery .gallery-columns-10 .gallery-item {
                    max-width: 10%
                  }
                }

                @media (min-width:480px) and (max-width:767px) {

                  .elementor-image-gallery .gallery.gallery-columns-2 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-3 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-4 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-5 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-6 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-7 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-8 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-9 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-10 .gallery-item {
                    max-width: 50%
                  }
                }

                @media (max-width:479px) {

                  .elementor-image-gallery .gallery.gallery-columns-2 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-3 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-4 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-5 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-6 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-7 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-8 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-9 .gallery-item,
                  .elementor-image-gallery .gallery.gallery-columns-10 .gallery-item {
                    max-width: 100%
                  }
                }
              </style>
              <div class="elementor-image-gallery">
                <div id="gallery-1" class="gallery galleryid-6 gallery-columns-3 gallery-size-full">
                  <figure class="gallery-item">
                    <div class="gallery-icon portrait">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="51a078b"
                        data-elementor-lightbox-title="photo_6188359506698812047_y"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTk2LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ3X3kuanBnIiwic2xpZGVzaG93IjoiNTFhMDc4YiJ9"
                        href="/static/img/serving-meals.jpg"><img fetchpriority="high"
                          decoding="async" width="960" height="1280"
                          src="/static/img/serving-meals.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:133.33%;max-width:960px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon portrait">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="51a078b"
                        data-elementor-lightbox-title="photo_6188359506698812049_y (1)"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTk5LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ5X3ktMS5qcGciLCJzbGlkZXNob3ciOiI1MWEwNzhiIn0%3D"
                        href="/static/img/guiding.jpg"><img decoding="async"
                          width="958" height="1280"
                          src="/static/img/guiding.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:133.61%;max-width:958px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon portrait">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="51a078b"
                        data-elementor-lightbox-title="photo_6188359506698812048_y (1)"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MTk3LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ4X3ktMS5qcGciLCJzbGlkZXNob3ciOiI1MWEwNzhiIn0%3D"
                        href="/static/img/class-room-one.jpg"><img decoding="async"
                          width="1024" height="1280"
                          src="/static/img/class-room-one.jpg"
                          class="attachment-full size-full" alt="" style="width:100%;height:125%;max-width:1024px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon landscape">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="51a078b"
                        data-elementor-lightbox-title="photo_6188359506698812050_y (1)"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjAxLCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDUwX3ktMS5qcGciLCJzbGlkZXNob3ciOiI1MWEwNzhiIn0%3D"
                        href="/static/img/students.jpg"><img loading="lazy"
                          decoding="async" width="1280" height="787"
                          src="/static/img/students.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:61.48%;max-width:1280px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon landscape">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="51a078b"
                        data-elementor-lightbox-title="photo_6188359506698812051_y"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjA2LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDUxX3kuanBnIiwic2xpZGVzaG93IjoiNTFhMDc4YiJ9"
                        href="/static/img/class-room-two.jpg"><img loading="lazy"
                          decoding="async" width="1280" height="834"
                          src="/static/img/class-room-two.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:65.16%;max-width:1280px;"></a>
                    </div>
                  </figure>
                  <figure class="gallery-item">
                    <div class="gallery-icon landscape">
                      <a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="51a078b"
                        data-elementor-lightbox-title="photo_6188359506698812044_y"
                        data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjA4LCJ1cmwiOiJodHRwczpcL1wvdGVzdC45MW1hcnQuaW5cL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMjNcLzExXC9waG90b182MTg4MzU5NTA2Njk4ODEyMDQ0X3kuanBnIiwic2xpZGVzaG93IjoiNTFhMDc4YiJ9"
                        href="/static/img/class-room-three.jpg"><img loading="lazy"
                          decoding="async" width="1280" height="853"
                          src="/static/img/class-room-three.jpg"
                          class="attachment-full size-full" alt=""
                          style="width:100%;height:66.64%;max-width:1280px;"></a>
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    /* Flexbox for gallery layout */
    #gallery-1 {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: space-evenly;
    }

    .gallery-item {
      flex: 1 1 calc(33.333% - 16px);
      max-width: calc(33.333% - 16px);
      box-sizing: border-box;
    }

    .gallery-icon img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }


    /* Responsive layout for smaller screens */
    @media (max-width: 768px) {
      .gallery-item {
        flex: 1 1 calc(50% - 16px);
      }
    }

    @media (max-width: 480px) {
      .gallery-item {
        flex: 1 1 100%;
      }
    }
  </style>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-2da29eff elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="2da29eff" data-element_type="section" id="xs_cta_political"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-17c67422"
        data-id="17c67422" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-5dc33703 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="5dc33703" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-33955e49"
                data-id="33955e49" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-b32a06e elementor-widget elementor-widget-elementskit-heading"
                    data-id="b32a06e" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div
                          class="ekit-heading elementskit-section-title-wraper center   ekit_heading_tablet-   ekit_heading_mobile-">
                          <h2 class="ekit-heading--title elementskit-section-title ">Latest sermons</h2>
                          <div class="ekit-heading__description">
                            <p>Every year, in November, the Political Studies Association holds its Annual Awards
                              Ceremony. These journalists and other contributors to the conduct and study of politics.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-13c54265 elementor-widget elementor-widget-elementskit-button"
                    data-id="13c54265" data-element_type="widget" data-widget_type="elementskit-button.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div class="ekit-btn-wraper">
                          <a href="#" class="elementskit-btn  whitespace--normal">


                            Donation Now </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-4c2e94ff elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="4c2e94ff" data-element_type="section" id="xs_political_blog">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3136cd0"
        data-id="3136cd0" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-31bb3d6e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="31bb3d6e" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-499ebb20"
                data-id="499ebb20" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-10e12aac elementor-widget elementor-widget-elementskit-heading"
                    data-id="10e12aac" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div
                          class="ekit-heading elementskit-section-title-wraper center   ekit_heading_tablet-   ekit_heading_mobile-">
                          <h2 class="ekit-heading--title elementskit-section-title ">Latest News</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-4719b71 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="4719b71" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-75bd2820"
                data-id="75bd2820" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-486fdef elementor-widget elementor-widget-elementskit-blog-posts"
                    data-id="486fdef" data-element_type="widget" data-widget_type="elementskit-blog-posts.default">
                    <div class="elementor-widget-container">
                      <div class="ekit-wid-con">
                        <div id="post-items--486fdef" class="row post-items custom-post "
                          style="display: flex; justify-content: center">
                          <div class="col-lg-4 col-md-6">

                            <div class="elementskit-post-image-card">
                              <div class="elementskit-entry-header">
                                <a href="/south-24-parganas-district/" class="elementskit-entry-thumb">
                                  <img decoding="async"
                                    src="/static/img/class-room-two.jpg"
                                    alt="South 24 Parganas district">
                                </a>


                              </div>


                              <div class="elementskit-post-body ">



                                <h2 class="entry-title">
                                  <a href="/south-24-parganas-district/">
                                    South 24 Parganas district </a>
                                </h2>
                                <p>located in the South 24 Parganas district, and they are engaged in various
                                  activities.South 24&hellip;</p>
                                <div class="btn-wraper">

                                  <a href="/south-24-parganas-district/" class="elementskit-btn  whitespace--normal">
                                    Learn more </a>
                                </div>
                              </div>

                            </div>

                          </div>
                          <div class="col-lg-4 col-md-6">

                            <div class="elementskit-post-image-card">
                              <div class="elementskit-entry-header">
                                <a href="/bmku-is-a-madrasha-islamic-educational-institution/"
                                  class="elementskit-entry-thumb">
                                  <img decoding="async"
                                    src="/static/content/uploads/2023/11/51caa7df-067d-4812-baeb-6de7d82e850a.jpeg"
                                    alt="BMKU is a Madrasha (Islamic educational institution)">
                                </a>


                              </div>


                              <div class="elementskit-post-body ">



                                <h2 class="entry-title">
                                  <a href="/bmku-is-a-madrasha-islamic-educational-institution/">
                                    BMKU is a Madrasha (Islamic educational institution) </a>
                                </h2>
                                <p>located in the South 24 Parganas district, and they are engaged in various
                                  activities.located in&hellip;</p>
                                <div class="btn-wraper">

                                  <a href="/bmku-is-a-madrasha-islamic-educational-institution/"
                                    class="elementskit-btn  whitespace--normal">
                                    Learn more </a>
                                </div>
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}