{{define "footer"}}
<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
    <div class="footer-width-fixer">		<div data-elementor-type="wp-post" data-elementor-id="52" class="elementor elementor-52">
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-26d4409f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="26d4409f" data-element_type="section" id="xs_footer_8" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-75804cdb" data-id="75804cdb" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-5d9e83c1 elementor-widget elementor-widget-text-editor" data-id="5d9e83c1" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
                    <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there</p>						</div>
        </div>
        <div class="elementor-element elementor-element-18b55e31 elementor-widget elementor-widget-elementskit-social-media" data-id="18b55e31" data-element_type="widget" data-widget_type="elementskit-social-media.default">
        <div class="elementor-widget-container">
    <div class="ekit-wid-con">			 <ul class="ekit_social_media">
                                                <li class="elementor-repeater-item-da8f4de">
                <a href="#" aria-label="Facebook" class="f">
                                                
                    <i aria-hidden="true" class="fab fa-facebook-f"></i>									
                                                                                                    </a>
            </li>
                                                                    <li class="elementor-repeater-item-1399011">
                <a href="#" aria-label="Twitter" class="twitter">
                                                
                    <i aria-hidden="true" class="fab fa-twitter"></i>									
                                                                                                    </a>
            </li>
                                                                    <li class="elementor-repeater-item-8f886e8">
                <a href="#" aria-label="LinkedIn" class="in">
                                                
                    <i aria-hidden="true" class="fab fa-linkedin-in"></i>									
                                                                                                    </a>
            </li>
                                                                    <li class="elementor-repeater-item-048c536">
                <a href="#" aria-label="dribbble" class="dribbble">
                                                
                    <i aria-hidden="true" class="fab fa-dribbble"></i>									
                                                                                                    </a>
            </li>
                                                                    <li class="elementor-repeater-item-c8596be">
                <a href="#" aria-label="Instagram" class="instagram">
                                                
                    <i aria-hidden="true" class="fab fa-instagram"></i>									
                                                                                                    </a>
            </li>
                                        </ul>
</div>		</div>
        </div>
            </div>
</div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-52f6f3ca" data-id="52f6f3ca" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-79adb00f elementor-widget elementor-widget-heading" data-id="79adb00f" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <style>/*! elementor - v3.16.0 - 17-10-2023 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style>
<h2 class="elementor-heading-title elementor-size-default">Useful Links</h2>		</div>
        </div>
        <section class="elementor-section elementor-inner-section elementor-element elementor-element-29523613 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="29523613" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-47b2eb22" data-id="47b2eb22" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-5888d045 elementor-widget elementor-widget-elementskit-page-list" data-id="5888d045" data-element_type="widget" data-widget_type="elementskit-page-list.default">
        <div class="elementor-widget-container">
    <div class="ekit-wid-con">		<div class="elementor-icon-list-items ">
                        <div class="elementor-icon-list-item   ">
                <a class="elementor-repeater-item-01d06f0 ekit_badge_left" href="/sample-page" target="_blank" rel="nofollow">
                    <div class="ekit_page_list_content">
                                                        <span class="elementor-icon-list-text">
                            <span class="ekit_page_list_title_title">Home (Temp)</span>
                                                            </span>
                    </div>
                                            </a>
            </div>
                            <div class="elementor-icon-list-item   ">
                <a class="elementor-repeater-item-324f54e ekit_badge_left" href="/sample-page" target="_blank" rel="nofollow">
                    <div class="ekit_page_list_content">
                                                        <span class="elementor-icon-list-text">
                            <span class="ekit_page_list_title_title">Contact From 7 Widget</span>
                                                            </span>
                    </div>
                                            </a>
            </div>
                            <div class="elementor-icon-list-item   ">
                <a class="elementor-repeater-item-5245ae1 ekit_badge_left" href="/sample-page" target="_blank" rel="nofollow">
                    <div class="ekit_page_list_content">
                                                        <span class="elementor-icon-list-text">
                            <span class="ekit_page_list_title_title">Video Widget For Elementor</span>
                                                            </span>
                    </div>
                                            </a>
            </div>
                </div>
</div>		</div>
        </div>
            </div>
</div>
        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2a84a9ba" data-id="2a84a9ba" data-element_type="column">
    <div class="elementor-widget-wrap">
                            </div>
</div>
                    </div>
</section>
            </div>
</div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1808b80d" data-id="1808b80d" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-4fa5c1ee elementor-widget elementor-widget-heading" data-id="4fa5c1ee" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <h2 class="elementor-heading-title elementor-size-default">Contact Us</h2>		</div>
        </div>
        <div class="elementor-element elementor-element-fe3a8e7 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="fe3a8e7" data-element_type="widget" data-widget_type="icon-list.default">
        <div class="elementor-widget-container">
    <link rel="stylesheet" href="/static/content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-phone-alt"></i>						</span>
                                <span class="elementor-icon-list-text">8888888888</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-envelope"></i>						</span>
                                <span class="elementor-icon-list-text">xyzz@gmail.com</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-map-marker-alt"></i>						</span>
                                <span class="elementor-icon-list-text">Sec. Moulana  Md.Ilias Gazi  ESTD.-1972  Reg. No. S/1L/18259, DIT (E) 1786 8E/25/06-07  International F.C.R.A. No.- 147110808</span>
                            </li>
                </ul>
        </div>
        </div>
            </div>
</div>
                    </div>
</section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-3ee8af18 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3ee8af18" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-454f1d48" data-id="454f1d48" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-499ccc88 elementor-widget elementor-widget-elementskit-heading" data-id="499ccc88" data-element_type="widget" data-widget_type="elementskit-heading.default">
        <div class="elementor-widget-container">
    <div class="ekit-wid-con"><div class="ekit-heading elementskit-section-title-wraper text_center   ekit_heading_tablet-   ekit_heading_mobile-text_center"><p class="ekit-heading--title elementskit-section-title ">© 2023 All Rights Reserved.</p></div></div>		</div>
        </div>
            </div>
</div>
                    </div>
</section>
                    </div>
</div>		</footer>
{{end}}