{{ define "header" }}
<header id="masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
    <p class="main-title bhf-hidden" itemprop="headline">
        <a href="/" title="Islam Teach Help" rel="home">Islam Teach Help</a>
    </p>

    <div data-elementor-type="wp-post" data-elementor-id="23" class="elementor elementor-23">

        <section class="elementor-section elementor-top-section elementor-element elementor-element-209593a4 elementor-section-content-middle elementor-section-boxed elementor-section-height-default" data-id="209593a4" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-161534b5" data-id="161534b5" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-609f304d elementor-widget elementor-widget-ekit-nav-menu" data-id="609f304d" data-element_type="widget" data-widget_type="ekit-nav-menu.default">
                            <div class="elementor-widget-container">
                                <div class="ekit-wid-con ekit_menu_responsive_tablet" data-hamburger-icon="" data-hamburger-icon-type="icon" data-responsive-breakpoint="1024">
                                    <button class="elementskit-menu-hamburger elementskit-menu-toggler" type="button" aria-label="hamburger-icon">
                                        <span class="elementskit-menu-hamburger-icon"></span>
                                        <span class="elementskit-menu-hamburger-icon"></span>
                                        <span class="elementskit-menu-hamburger-icon"></span>
                                    </button>

                                    {{ template "navbar" . }}

                                    <div class="elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>
{{ end }}
