{{define "navbar"}}

<style>
   
    </style>
    <nav>
    <div id="ekit-megamenu-header-menu" class="elementskit-menu-container bg elementskit-menu-offcanvas-elements elementskit-navbar-nav-default ekit-nav-menu-one-page-no ekit-nav-dropdown-hover">
        <ul id="menu-header-menu" class="elementskit-navbar-nav elementskit-menu-po-center submenu-click-on-icon">
        <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-32 nav-item elementskit-mobile-builder-content active" data-vertical-menu="750px"><a href="/" class="ekit-menu-nav-link active">HOME</a></li>
        <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px"><a href="/about" class="ekit-menu-nav-link">ABOUT</a></li>
        <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px"><a href="/activities" class="ekit-menu-nav-link">ACTIVITIES</a></li>
        <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px"><a href="/madrasha" class="ekit-menu-nav-link">MADRASHA</a></li>
        <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px"><a href="/balance-sheet" class="ekit-menu-nav-link">BALANCE SHEET</a></li>
        <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px"><a href="/contact" class="ekit-menu-nav-link">CONTACT</a></li>
        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px"><a href="/donation" class="ekit-menu-nav-link">DONATION</a></li>
        <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px"><a href="/gallery" class="ekit-menu-nav-link">GALLERY</a></li>
        </ul>
        <div class="elementskit-nav-identity-panel"><button class="elementskit-menu-close elementskit-menu-toggler" type="button">X</button></div>
        </div>	
</nav>
{{end}}